<h1><%= link_to "Hacker News", links_path %></h1>

<div class ='col-md-4'>
<h2><%= @link.name %> </h2>

<%= render 'votes/form'%>
<%= link_to "Edit", edit_link_path, :class => 'btn btn-warning btn-sm'%>
<%= link_to "Delete", link_path(@link),
                      :data =>{:confirm => "Are you sure?",
                                :method => "delete"},
                      :class => "btn btn-danger btn-sm" %>
</div>
<div class ="col-md-8">

<h3>Comments</h3>
<ol>
  <% @link.comments.each do |comment|%>
    <li><%=link_to "#{comment.name}", comment_path(comment)%></li>
  <%end%>
</ol>
<%= render 'comments/form'%>
</div>

